@import "tailwindcss";

@theme {
  --color-bg: #ff8644;
  --color-text: #f34512;
}
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.inter {
    font-family: "Inter", serif;
  }
.righteous {
    font-family: "Righteous", serif;
    font-weight: 50;
    font-style: normal;
  }
  .red-hat {
    font-family: "Red Hat Display", serif;
  }